body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 10%;
    height: 700px;
}

.section-half {
    width: 50%;
    float: left;
}

.section-half img {
    width: 100%;
}

.about-section {
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}


h1 {
    font-size: 50px;
    font-weight: 400;
}

h1 span {
    font-weight: 700;
    color: #ec4c76;
}

.name-headline {
    padding-top: 15%;
}

p {
    color: dimgrey;
}

.website-buttons {
    background-color: #ec4b75;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}